<!DOCTYPE html>
<html lang="en" ngapp>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home inventory control">
    <meta name="author" content="Greg Kurts">
    <meta name="fragment" content="!">

    <title>Shopping List Keeper Upper Thingy</title>

    <!-- <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/> -->
    <!-- <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/> -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet" />

</head>

<body ng-app="app">

    <header class="navbar navbar-default navbar-static-top" role="banner" ng-if="location.path() !== '/login'" ng-controller="navController">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Shopping List Keeper Upper Thingy</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#" onclick="alert('does that make you feel important?!?'); return false;">Admin</a>
                    </li>
                    <li>
                        <a href="#" onclick="return false;" ng-cloak>Signed in as {{ username }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Begin Body -->
    <div class="container">
        <div class="row">

            <div class="col-md-3" ng-controller="listController" ng-if="location.path() !== '/login'" >

                <dl>
                    <dt ng-repeat="list in lists">
                        <h3><a ng-href="#/lists/{{list.id}}"><span ng-bind="list.title">loading...</span></a></h3>
                    </dt>
                    <dt>
                        <form ng-submit="newlist()">
                            <input type="text" ng-model="newlisttitle" placeholder="new list name..." />
                        </form>
                    </dt>
                </dl>

            </div>

            <div class="col-md-9">
                <div ng-view></div>
            </div>
        </div>
    </div>




    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/authInterceptor.js"></script>
</body>
</html>