<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net45" />
  <package id="Dapper" version="1.25" targetFramework="net45" />
  <package id="Dapper.SimpleCRUD" version="1.4.0" targetFramework="net45" />
  <package id="Nancy" version="0.23.0" targetFramework="net45" />
  <package id="Nancy.Authentication.Token" version="0.23.0" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
</packages>